# Configuration file for Chokepoint Dataset

[Usage]

output_path = ./res/

##################################################################

[Detection Model]

# Path to frozen graph (.pb)
#frozen_graph_path = ./detector_models/SSDMobileNetv1_face_05_04_2018.pb
frozen_graph_path = ./detector_models/SSDMobileNetv1_face2_30_04_2018.pb

# List of the strings that is used to add correct label for each box.
label_map_path = ./protos/face_label_map.pbtxt
num_class = 2

# Hyper-Parameters
threshold = 0.5


##################################################################

[Chokepoint Dataset]

# Path to dataset
dataset_path = ./data/ChokePoint_Dataset/


# Video to evaluate the model on
evalList = P1L_S1_C1
           P1L_S1_C2
           #P1L_S1_C3
           #P1E_S1_C1
           #P1E_S1_C2
           #P1E_S1_C3

[Chokepoint file path]
# data path,ground truth path
P1E_S1_C1 = P1E_S1/P1E_S1_C1/,groundtruth/P1E_S1_C1.xml
P1E_S1_C2 = P1E_S1/P1E_S1_C2/,groundtruth/P1E_S1_C2.xml
P1E_S1_C3 = P1E_S1/P1E_S1_C3/,groundtruth/P1E_S1_C3.xml
P1L_S1_C1 = P1L_S1/P1L_S1_C1/,groundtruth/P1L_S1_C1.xml
P1L_S1_C2 = P1L_S1/P1L_S1_C2/,groundtruth/P1L_S1_C2.xml
P1L_S1_C3 = P1L_S1/P1L_S1_C3/,groundtruth/P1L_S1_C3.xml
